body {
  margin: 0;
  font-family: HelveticaNowText, Helvetica, Arial, sans-serif;
}

.navBar-bg {
  background-color: #eeeeeeb0 !important;

  .MuiButton-text {
    padding: 6px 35px;
  }
  .conveyor-icon {
    margin-right: auto;
  }
  .toggleMenu {
    background-color: #0874b5;
  }
}
.MuiMenu-paper {
  top: 72px !important;
  left: 218px !important;
}

.makeStyles-sludgeContainer-6 {
  //font
  .text-left {
    text-align: left;
  }

  .listTitle {
    font-size: 1.6rem;
    text-align: left;
    font-weight: 600;
  }
}
.no-shadow {
  box-shadow: none !important;
}
.w-70 {
  width: 70%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.makeStyles-root-4 {
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow-y: hidden;
}
.main-video {
  height: 56.25vw;
  width: 100vw;
}
.video-title {
  position: absolute;
  top: 45%;
  left: 5%;

  .title {
    font-size: 5rem;
    font-weight: 500;
    color: #fcfcfc;
    font-family: roboto;
    text-shadow: 0px 0px 8px #36363680;
  }
}

.conveyorBox {
  background: linear-gradient(to bottom, white, #ffffff80);
}

//padding

.p-0 {
  padding: 0;
}

//top
.pt-1,
.py-1 {
  padding-top: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.75rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

//bottom
.pb-1,
.py-1 {
  padding-bottom: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.75rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

//left
.pl-1,
.px-1 {
  padding-left: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.75rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 2rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

//right
.pr-1,
.px-1 {
  padding-right: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.75rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 2rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

//margin

//top
.mt-1,
.my-1 {
  margin-top: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.75rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

//down
.mb-1,
.my-1 {
  margin-bottom: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.75rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

//left
.ml-1,
.mx-1 {
  margin-left: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.75rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 2rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
//right
.mr-1,
.mx-1 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-top: 0.75rem !important;
}
.mr-3,
.mx-3 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-top: 2rem !important;
}
.mr-5,
.mx-5 {
  margin-top: 3rem !important;
}

@media only screen and (max-width: 600px) {
  .line-height-22px-xs {
    line-height: 22px;
  }
  .pt-xs-0,
  .py-xs-0 {
    padding-top: 0rem !important;
  }
  .pt-xs-1,
  .py-xs-1 {
    padding-top: 0.5rem !important;
  }
  .pt-xs-2,
  .py-xs-2 {
    padding-top: 0.75rem !important;
  }
  .pt-xs-3,
  .py-xs-3 {
    padding-top: 1.5rem !important;
  }
  .pt-xs-4,
  .py-xs-4 {
    padding-top: 2rem !important;
  }
  .pt-xs-5,
  .py-xs-5 {
    padding-top: 3rem !important;
  }

  //bottom
  .pb-xs-0,
  .py-xs-0 {
    padding-bottom: 0rem !important;
  }
  .pb-xs-1,
  .py-xs-1 {
    padding-bottom: 0.5rem !important;
  }
  .pb-xs-2,
  .py-xs-2 {
    padding-bottom: 0.75rem !important;
  }
  .pb-xs-3,
  .py-xs-3 {
    padding-bottom: 1.5rem !important;
  }
  .pb-xs-4,
  .py-xs-4 {
    padding-bottom: 2rem !important;
  }
  .pb-xs-5,
  .py-xs-5 {
    padding-bottom: 3rem !important;
  }

  //left
  .pl-xs-0,
  .px-xs-0 {
    padding-left: 0rem !important;
  }
  .pl-xs-1,
  .px-xs-1 {
    padding-left: 0.5rem !important;
  }
  .pl-xs-2,
  .px-xs-2 {
    padding-left: 0.75rem !important;
  }
  .pl-xs-3,
  .px-xs-3 {
    padding-left: 1.5rem !important;
  }
  .pl-xs-4,
  .px-xs-4 {
    padding-left: 2rem !important;
  }
  .pl-xs-5,
  .px-xs-5 {
    padding-left: 3rem !important;
  }

  //right
  .pr-xs-0,
  .px-xs-0 {
    padding-right: 0rem !important;
  }
  .pr-xs-1,
  .px-xs-1 {
    padding-right: 0.5rem !important;
  }
  .pr-xs-2,
  .px-xs-2 {
    padding-right: 0.75rem !important;
  }
  .pr-xs-3,
  .px-xs-3 {
    padding-right: 1.5rem !important;
  }
  .pr-xs-4,
  .px-xs-4 {
    padding-right: 2rem !important;
  }
  .pr-xs-5,
  .px-xs-5 {
    padding-right: 3rem !important;
  }

  //margin

  //top
  .mt-xs-0,
  .my-xs-0 {
    margin-top: 0rem !important;
  }
  .mt-xs-1,
  .my-xs-1 {
    margin-top: 0.5rem !important;
  }
  .mt-xs-2,
  .my-xs-2 {
    margin-top: 0.75rem !important;
  }
  .mt-xs-3,
  .my-xs-3 {
    margin-top: 1.5rem !important;
  }
  .mt-xs-4,
  .my-xs-4 {
    margin-top: 2rem !important;
  }
  .mt-xs-5,
  .my-xs-5 {
    margin-top: 3rem !important;
  }

  //down
  .mb-xs-0,
  .my-xs-0 {
    margin-bottom: 0rem !important;
  }
  .mb-xs-1,
  .my-xs-1 {
    margin-bottom: 0.5rem !important;
  }
  .mb-xs-2,
  .my-xs-2 {
    margin-bottom: 0.75rem !important;
  }
  .mb-xs-3,
  .my-xs-3 {
    margin-bottom: 1.5rem !important;
  }
  .mb-xs-4,
  .my-xs-4 {
    margin-bottom: 2rem !important;
  }
  .mb-xs-5,
  .my-xs-5 {
    margin-bottom: 3rem !important;
  }

  //left
  .ml-xs-0,
  .mx-xs-0 {
    margin-left: 0rem !important;
  }
  .ml-xs-1,
  .mx-xs-1 {
    margin-left: 0.5rem !important;
  }
  .ml-xs-2,
  .mx-xs-2 {
    margin-left: 0.75rem !important;
  }
  .ml-xs-3,
  .mx-xs-3 {
    margin-left: 1.5rem !important;
  }
  .ml-xs-4,
  .mx-xs-4 {
    margin-left: 2rem !important;
  }
  .ml-xs-5,
  .mx-xs-5 {
    margin-left: 3rem !important;
  }
  //right
  .mr-xs-0,
  .mx-xs-0 {
    margin-top: 0rem !important;
  }
  .mr-xs-1,
  .mx-xs-1 {
    margin-top: 0.5rem !important;
  }
  .mr-xs-2,
  .mx-xs-2 {
    margin-top: 0.75rem !important;
  }
  .mr-xs-3,
  .mx-xs-3 {
    margin-top: 1.5rem !important;
  }
  .mr-xs-4,
  .mx-xs-4 {
    margin-top: 2rem !important;
  }
  .mr-xs-5,
  .mx-xs-5 {
    margin-top: 3rem !important;
  }
  .ml-xs-1rem {
    margin-left: 1rem !important;
  }
  .footer-social-media {
    justify-content: center !important;
  }
  .video-title {
    top: 20%;

    .title {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
  .model-h-img {
    height: 199px !important;
  }
  .fit-title {
    padding: 0px 20px 0px 20px;
    font-size: 26px;
  }
  .fit-content {
    padding: 0px 20px 0px 20px;
  }
  .choose-h2-font {
    font-size: 1.6rem !important;
  }
  .three-conveyors-h3 {
    width: 100% !important;
    .conveyor-title-sludge {
      width: 25%;
      font-size: 1.3rem;
    }
    .conveyor-title-screenings {
      width: 40%;
      font-size: 1.3rem;
    }
    .conveyor-title-biosolids {
      width: 35%;
      font-size: 1.3rem;
    }
  }
  .h2-left-none {
    left: 0px !important;
  }
  .font-2n3rem {
    font-size: 2.3rem !important;
  }
  .mt-sm-10rem {
    margin-top: 10rem !important;
  }
  .sketch-h1 {
    font-size: 1.4rem;
    padding: 0px 10px 0px 10px;
  }
  .p2-img {
    height: 563px;
  }
  .sludge-first-bg-mobile {
    background-image: url(../src/assests/sludge-first-bg-mobile.jpg) !important;
    display: inline !important;
    height: 100% !important;
    
  }
  .sludge-second-bg-mobile {
    background-image: url(../src/assests/sludge-second-bg-mobile.jpg) !important;
    display: inline !important;
    height: 100% !important;
  }
  .contentBox {
    padding: 0px 20px 20px 10px;
  }
  .secondContentBox {
    padding: 30px 20px 30px 10px;
  }
  .MuiToolbar-gutters {
    background-color: #eee;
  }
  .modelHBox {
    background-image: url(../src//assests/model-h-vs-belt-bg.jpg) !important;
    height: 1012px !important;

    .modelH-H2 {
      font-size: 2rem;
      font-weight: 400;
      margin: 0px;
    }
  }
  .px-xs-30px {
    padding: 0px 30px 0px 30px !important;
  }
  .d-inline-mobile {
    display: inline !important;
  }
  .flatBeltBox {
    background-image: url(../src/assests/belt-vs-model-h-bg.jpg) !important;
    height: 868px !important;

    .flatBelt-H2 {
      font-size: 2rem;
      font-weight: 400;
      margin: 0px;
    }
    .flatBeltItem {
      line-height: 22px;
    }
  }
  .video-391px-mobile {
    width: 391px;
  }
  .w-100-mobile {
    width: 100%;
  }
  .bg-white-xs {
    background-color: #fff;
  }
  .p2-h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 2.3rem;
  }
  .p2-content {
    font-size: 16px;
    line-height: 25px;
  }
  .p2-vs-belt {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;

    .order-1-mobile {
      order: 1;
    }
    .order-2-mobile {
      order: 2;
    }
    .order-3-mobile {
      order: 3;
    }
    .order-4-mobile {
      order: 4;
    }

    .p2-h1 {
      font-size: 26px;
      font-weight: 400;
    }
    .p2-list {
      list-style: none;
      padding-left: 0;
    }
    .screw-h1 {
      font-size: 26px;
      font-weight: 400;
    }
    .screw-list {
      list-style: none;
      padding-left: 0;
    }
  }
  .p2-vs-screw {
    background-color: #f1f1f1;

    .p2-vs-screw-col {
      .p2-vs-screw-h2 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 32px;
        padding: 0px 15px;
      }
    }
    .order-1-mobile {
      order: 1;

      .p2-h1 {
        font-size: 26px;
        font-weight: 400;
        line-height: 2rem;
      }
    }
    .order-2-mobile {
      order: 2;
    }
    .order-3-mobile {
      order: 3;
      width: 75%;
      .screw-h1 {
        font-size: 26px;
        font-weight: 400;
        line-height: 2rem;
      }

      .screw-list {
        .screw-item {
          line-height: 22px;
        }
      }
    }
    .order-4-mobile {
      order: 4;
    }
    .videoBox-col {
      .videoBox {
        .p2-video {
          width: 340px;
          max-width:190px;
        }
      }
    }
  }
  .pic-n-vid-cont {
    .videoBox-col {
      .videoBox {
        .p2-video {
          width: 340px;
          height: 190px;
        }
      }
    }
  }
  .p2-flex-container {
    .flex-h1 {
      font-size: 2rem;
      font-weight: 500;
      padding: 0px 20px;
    }
  }
  .fd-bg-firstPage {
    background-image: url(../src/assests/fd-first-bg.jpg) !important;

    .fd-box {
      background-color: #fff;
      .fd-h1 {
        font-weight: 400;
      }
    }
  }

  .fd-bg-secondPage {
    .fd-secondBox {
      .fd-h2 {
        font-size: 1.5rem;
        line-height: 36px;
        font-weight: 500;
      }
      .fd-list-box {
        padding-left: 0px;
        list-style: none;
      }
    }
  }
  .fd-bg-thirdPage {
    .fd-video-col {
      .FDVideoBox {
        .fd-video {
          width: 340px;
          height: 190px;
        }
      }
    }
  }
  .CO-made-content-box {
    padding: 25px 20px 0px 20px;
  }
  .quote-container {
    justify-content: center;
    .contact-list {
      .contact-item {
        .phone-number::before {
          content: url('../src/assests/phone-icon.jpg');
          vertical-align: -195%;
          position: relative;
          right: 2rem;
        }
        .phone-number {
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          color: #000;
        }
        .email::before {
          content: url('../src/assests/email-icon.jpg');
          vertical-align: -250%;
          position: relative;
          right: 2rem;
        }
        .email {
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          color: #000;
        }
        .location::before {
          content: url('../src/assests/address-icon.jpg');
          vertical-align: -125%;
          position: relative;
          right: 2rem;
        }
        .location {
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          color: #000;
          display: inline-flex;
          line-height: 23px;
        }
      }
    }
  }
  .text-center-xs {
    text-align: center;
  }
  .p2-pros-container {
    display: flex;
    flex-direction: column;

    .order-1-mobile {
      order: 1;
    }
    .order-2-mobile {
      order: 2;
    }
    .order-3-mobile {
      order: 3;
    }
    .order-4-mobile {
      order: 4;
    }
    .order-5-mobile {
      order: 5;
    }
    .order-6-mobile {
      order: 6;
    }
    .order-7-mobile {
      order: 7;
    }
    .order-8-mobile {
      order: 8;
    }
    .order-9-mobile {
      order: 9;
    }
    .order-10-mobile {
      order: 10;
    }
  }
  .p2-flex-container {
    .flex-h1 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 40px;
    }
    .flex-content-sec {
      .flex-content-box {
        .flex-content-h1 {
          font-size: 2rem;
          font-weight: 500;
          line-height: 40px;
        }
        .flex-content-p {
          line-height: 25px;
        }
      }
    }
    .flex-pros-sec {
      .flex-list {
        list-style: none;
        padding-left: 30px;

        .flex-item {
          padding-top: 0.5rem;
        }
      }
    }
  }
  .sludge-first-bg-sm {
    .contentBox {
      background-color: #fff;
      .sludgeConveyorH1 {
        font-size: 2rem;
        font-weight: 500;
      }
      .sludgeContent {
        line-height: 24px;
      }
    }
  }
  .sludge-second-bg-sm {
    .secondContentBox {
      background-color: #fff;
      padding-top: 1rem;

      .sludgeConveyorH3 {
        font-size: 2rem;
        font-weight: 500;
        line-height: 40px;
      }
      .sludgeContent {
        line-height: 24px;
      }
    }
  }
  .sludgeAdvBox {
    .sludgeAvdH3 {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 30px;
    }
    .sludgeAdvList {
      list-style: none;
    }
  }
  .line-height-xs-24px {
    line-height: 24px;
  }
  .p2-list-sec {
    .p2-list {
      padding-left: 0;
      list-style: none;
    }
  }
  .screw-list-sec {
    .screw-list {
      padding-left: 0;
      list-style: none;
    }
  }
  .w-90-xs {
    width: 90%!important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .px-sm-30px {
    padding: 0 20px 0 20px;
  }
  .w-100-sm {
    width: 100%;
  }
  .top-sm-5prec {
    top: 5% !important;
  }
  .justify-content-center-sm {
    justify-content: center !important;
  }
  .mt-sm-10rem {
    margin-top: 10rem !important;
  }
  .pl-sm-2rem {
    padding-left: 2rem !important;
  }
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .mt-sm-5 {
    margin-top: 3rem !important;
  }
  .mb-sm-5 {
    margin-bottom: 3rem !important;
  }
  .video-title {
    top: 25%;

    .title {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
  .px-40px {
    padding: 0px 40px 0px 40px;
  }
  .three-conveyors-h3 {
    width: 80% !important;

    .conveyorTitle {
      width: 30%;
    }
  }
  .sludge-first-bg-sm {
    height: 715px !important;
    background-image: url(../src/assests/sludge-first-bg-sm.jpg) !important;

    .contentBox {
      padding: 3rem 1rem 1rem 1rem;
      background-color: #fff;

      .sludgeConveyorH1 {
        font-size: 2.2rem;
        font-weight: 400;
      }
      .sludgeContent {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .sludge-second-bg-sm {
    background-image: url(../src/assests/sludge-second-bg-sm.jpg) !important;
    height: 740px !important;

    .secondContentBox {
      padding: 3rem 1rem 1rem 1rem;
      background-color: #fff;

      .sludgeConveyorH3 {
        font-size: 1.6rem;
        font-weight: 400;
      }
      .sludgeContent {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .sludge-second-pic {
      position: relative;
      top: 6rem;
    }
  }
  .d-inline-grid-sm {
    display: inline-grid !important;

    .modelHBox {
      .modelH-H2 {
        font-size: 2rem;
        font-weight: 400;
        width: 84%;
        position: relative;
        text-align: right;
        top: 2rem;
      }
      .modelHList {
        width: 30%;
        position: relative;
        left: 61.4%;
        top: 2.1rem;

        .modelHItem {
          font-size: 16px;
          padding-top: 0.5rem;
          line-height: 20px;
        }
      }
    }
    .flatBeltBox {
      .flatBelt-H2 {
        position: relative;
        text-align: right;
        top: 1.9rem;
        width: 89%;
        font-size: 2rem;
        font-weight: 400;
      }
      .flatBeltList {
        position: relative;
        top: 2rem;
        left: 67%;
        width: 28%;

        .flatBeltItem {
          font-size: 16px;
          line-height: 20px;
          padding-top: 0.5rem;
        }
      }
    }
  }
  .d-inline-sm {
    display: inline !important;

    .sludgeAdvBox {
      padding-left: 2rem;

      .sludgeAvdH3 {
        font-size: 1.3rem;
        font-weight: 500;
      }
      .sludgeAdvList {
        padding-left: 0;
        padding-bottom: 1rem;
        list-style: none;

        .sludgeAdvItem {
          font-size: 16px;
          padding-top: 0.5rem;
        }
      }
    }
  }
  .d-inline-sm {
    display: inline !important;

    .sludge-last-pic {
      text-align: center;
    }
    .sludge-last-vid {
      padding: 1.5rem 0 2rem 2.3rem;
    }
  }
  .p2-box {
    .p2-h1 {
      font-weight: 400;
    }
    .p2-content {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .p2-vs-belt {
    background-color: #f1f1f1;

    .order-1-mobile {
      margin-left: 2rem;

      .p2-list {
        list-style: none;
        padding-left: 15px;
      }
    }
    .order-3-mobile {
      margin-left: 2rem;

      .screw-list {
        list-style: none;
        padding-left: 15px;
      }
    }
  }
  .fd-bg-firstPage {
    .fd-box {
      background-color: #fff;
      .fd-h1 {
        font-size: 2rem;
        font-weight: 400;
      }
      .fd-content {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  .fd-bg-secondPage {
    .fd-secondBox {
      .fd-h2 {
        font-size: 1.6rem;
        font-weight: 500;
        padding-left: 2rem;
      }
      .fd-list-box {
        list-style: none;
        padding-left: 2rem;

        .fd-item {
          font-size: 16px;
          padding-top: 0.5rem;
        }
      }
    }
  }
  .p2-vs-belt {
    flex-direction: column;

    .order-1-mobile {
      order: 1;
    }
    .order-2-mobile {
      order: 2;
    }
    .order-3-mobile {
      order: 3;
    }
    .order-4-mobile {
      order: 4;
    }
  }
  .CO-made-content-box {
    padding: 35px 30px 5px 20px;
  }
  .pt-sm-5 {
    padding-top: 3rem !important;
  }
  .pl-sm-5 {
    padding-left: 3rem !important;
  }
  .quote-container {
    justify-content: center;
    .contact-list {
      .contact-item {
        .phone-number::before {
          content: url('../src/assests/phone-icon.jpg');
          vertical-align: -135%;
          position: relative;
          right: 2rem;
        }
        .phone-number {
          font-size: 1.5rem;
          font-weight: 500;
          text-decoration: none;
          color: #000;
        }
        .email::before {
          content: url('../src/assests/email-icon.jpg');
          vertical-align: -140%;
          position: relative;
          right: 2rem;
        }
        .email {
          font-size: 1.5rem;
          font-weight: 500;
          text-decoration: none;
          color: #000;
        }
        .location::before {
          content: url('../src/assests/address-icon.jpg');
          vertical-align: -165%;
          position: relative;
          right: 2rem;
        }
        .location {
          font-size: 1.5rem;
          font-weight: 500;
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  .sludge-first-bg-sm {
    .bg-white-xs {
      background-color: #fff;
      padding: 30px;
    }
  }
  .sludge-second-bg-sm {
    .bg-white-xs {
      background-color: #fff;
      padding: 30px;
    }
  }
  .p2-pros-container {
    .screenings-pros-radius-title-col {
      .screenings-pros-radius-title {
        position: relative;
        top: 6rem;
      }
    }
    .screenings-pros-elevate-title-col {
      .screenings-pros-elevate-title {
        position: relative;
        top: 6rem;
        left: 5%;
      }
    }
    .screenings-pros-transfer-title-col {
      .screenings-pros-transfer-title {
        position: relative;
        top: 6rem;
      }
    }
    .screenings-pros-enclosed-title-col {
      .screenings-pros-enclosed-title {
        position: relative;
        top: 6rem;
        left: 10%;
      }
    }
    .screenings-pros-belting-title-col {
      .screenings-pros-belting-title {
        position: relative;
        top: 6rem;
      }
    }
  }
  .p2-vs-screw-col {
    .p2-vs-screw-h2 {
      padding: 30px;
      line-height: 40px;
    }
  }
  .p2-list-sec {
    .p2-h1 {
      padding-left: 30px;
    }
    .p2-list {
      list-style: none;
      padding-left: 30px;
    }
  }
  .screw-list-sec {
    .screw-h1 {
      padding-left: 30px;
    }
    .screw-list {
      list-style: none;
      padding-left: 30px;
    }
  }
  .p2-flex-container {
    padding-top: 8rem;
    .flex-content-sec {
      .flex-content-box {
        padding: 0px 20px 0px 20px;

        .flex-content-h1 {
          padding-left: 5px;
        }
        .flex-content-p {
          padding-left: 5px;
          line-height: 24px;
        }
      }
    }
    .flex-pros-sec {
      .flex-list {
        list-style: none;
        padding-left: 20px;
        
        .item {
          padding-top: 0.8rem;
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  .justify-content-center {
    justify-content: center;
  }
  .mb-md-5 {
    margin-bottom: 3rem !important;
  }
  .video-title {
    .title {
      font-size: 3rem;
      font-weight: 500;
    }
  }
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .pl-md-0 {
    padding-left: 0 !important;
  }
  .pt-md-5 {
    padding-top: 3rem !important;
  }
  .pb-md-5 {
    padding-bottom: 3rem !important;
  }
  .mt-md-5 {
    margin-top: 3rem !important;
  }
  .mt-md-5 {
    margin-top: 3rem !important;
  }
  .pt-md-4 {
    padding-top: 2rem !important;
  }
  .mt-md-10 {
    margin-top: 10rem !important;
  }
  .video-title {
    top: 40%;
  }
  .fit-title {
    position: relative;
    top: 25%;
    right: 30%;
    background-color: #fff;
    padding: 40px;
    font-size: 3.2rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-radius: 20px;
  }
  .fit-content {
    position: relative;
    top: 22%;
    font-size: 20px;
    line-height: 32px;
  }
  .sketch-h1-box {
    position: relative;
    left: 8%;
    top: 1rem;
    padding: 30px 20px 20px 20px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(180, 174, 174, 0.48);
    box-shadow: 0px 0px 50px 0px rgba(180, 174, 174, 0.48);

    .sketch-h1 {
      padding: 40px 20px 20px 40px;
      font-size: 2.6rem;
    }
  }
  .sketch-real-pic {
    position: relative;
    right: 2%;
    top: 5rem;
  }
  .rowBg {
    .contentBox {
      padding: 5rem;
      position: relative;
      top: 20%;
      left: 15%;
      background-color: #efefef;
      -webkit-box-shadow: 0px 0px 40px 0px rgba(62, 64, 115, 0.21);
      box-shadow: 0px 0px 40px 0px rgba(62, 64, 115, 0.21);
    }
  }
  .rowBg {
    .secondContentBox {
      z-index: 10;
      width: 100%;
      padding: 5rem;
      position: relative;
      top: 45%;
      left: 38%;
      background-color: #efefef;
      -webkit-box-shadow: 0px 0px 40px 0px rgba(62, 64, 115, 0.21);
      box-shadow: 0px 0px 40px 0px rgba(62, 64, 115, 0.21);
    }
  }

  .sludgeConveyorH1 {
    font-size: 57px;
    font-weight: 400;
  }
  .sludgeConveyorH3 {
    font-size: 30px;
    font-weight: 400;
  }
  .sludgeContent {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .sludgeImg {
    position: relative;
    top: 8%;
    left: 2%;

    &.w-470px-md {
      width: 470px;
    }
  }
  .modelH-H2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-left: 21rem;
    padding-top: 2.4rem;
  }
  .flatBelt-H2 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-left: 29rem;
    padding-top: 2.4rem;
  }
  .modelHList {
    max-width: 34%;
    padding-left: 36rem;
    list-style: none;
    .modelHItem {
      padding-top: 15px;
    }
  }
  .flatBeltList {
    max-width: 30%;
    padding-left: 40rem;
    list-style: none;
    .flatBeltItem {
      padding-top: 15px;
    }
  }
  .sludgeAdvBox {
    position: relative;
    left: 15%;
    background-color: #efefef;
    padding: 3rem;
    box-shadow: 0px 0px 40px 0px rgba(62, 64, 115, 0.21);
  }
  .sludgeAvdH3 {
    font-size: 25px;
    font-weight: 400;
  }
  .sludgeAdvList {
    padding-left: 20px;
  }
  .sludgeAdvItem {
    padding-top: 15px;
  }
  iframe {
    &.video-391px-mobile {
      position: relative;
      top: 5%;
      height: 510px;
      width: 906px;
      right: 6%;
    }
  }
  iframe {
    &.fd-video {
      position: relative;
      top: 5%;
      height: 510px;
      width: 906px;
      right: 6%;
    }
  }
  .modelHLandscape {
    position: relative;
    top: 35%;
    right: 40%;
  }
  .h700 {
    height: 800px;
  }
  .modelHList {
    max-width: 32%;
    padding-left: 59.6%;
    list-style: none;
  }
  .flatBeltList {
    max-width: 26%;
    padding-left: 66.5%;
    list-style: none;
  }
  .conveyorTitle {
    width: 33.33%;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .p2-box {
    max-height: 650px;
    background-color: #efefef;
    padding: 5rem !important;
    position: relative;
    left: 7%;
    top: 3rem;
    box-shadow: 0px 0px 40px 0px rgba(62, 64, 115, 0.21);

    .p2-h1 {
      font-size: 3rem;
      font-weight: 500;
    }
    .p2-content {
      font-size: 18px;
      line-height: 24px;
    }
  }
  .p2-pros-container {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
    max-width: 1920px;
    margin-left: auto !important;
    margin-right: auto !important;

    .screenings-pros-radius-pic-col {
      height: max-content;
      position: relative;
    }
    .screenings-pros-radius-title-col {
      position: relative;
      top: 17rem;
      height: fit-content;
      right: 2.5%;

      .screenings-pros-radius-title {
        font-size: 1.8rem;
        font-weight: 500;
        width: max-content;

        .screenings-pros-radius-title-span {
          content: '';
          width: 171px;
          display: flex;
          height: 2px;
          background-color: #000;
          position: relative;
          top: 0.48rem;
          right: 17%;
          z-index: -111;
        }
      }
    }
    .screenings-pros-elevate-title-col {
      position: relative;
      top: 17rem;
      height: fit-content;
      left: 4.5%;

      .screenings-pros-elevate-title {
        font-size: 1.8rem;
        font-weight: 500;
        width: max-content;

        .screenings-pros-elevate-title-span {
          content: '';
          width: 180px;
          display: flex;
          height: 2px;
          background-color: #000;
          position: relative;
          top: 0.48rem;
          left: 76%;
          z-index: -111;
        }
      }
    }
    .screenings-pros-transfer-title-col {
      position: relative;
      top: 17rem;
      height: fit-content;
      right: 2.9%;

      .screenings-pros-transfer-title {
        font-size: 1.8rem;
        font-weight: 500;
        width: max-content;

        .screenings-pros-transfer-title-span {
          content: '';
          width: 126px;
          display: flex;
          height: 2px;
          background-color: #000;
          position: relative;
          top: 0.48rem;
          right: 17%;
          z-index: -111;
        }
      }
    }
    .screenings-pros-enclosed-title-col {
      position: relative;
      top: 17rem;
      height: fit-content;
      left: 7.5%;

      .screenings-pros-enclosed-title {
        font-size: 1.8rem;
        font-weight: 500;
        width: max-content;

        .screenings-pros-enclosed-title-span {
          content: '';
          width: 220px;
          display: flex;
          height: 2px;
          background-color: #000;
          position: relative;
          top: 0.48rem;
          left: 72%;
          z-index: -111;
        }
      }
    }
    .screenings-pros-belting-title-col {
      position: relative;
      top: 15rem;
      height: fit-content;
      right: 2%;

      .screenings-pros-belting-title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 38px;

        .screenings-pros-belting-title-span {
          content: '';
          width: 220px;
          display: flex;
          height: 2px;
          background-color: #000;
          position: relative;
          top: 0.48rem;
          right: 13%;
          z-index: -111;
        }
      }
    }
  }
  .p2-vs-screw {
    background-color: #f1f1f1;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;

    .order-1-mobile {
      margin-left: 0;
    }
    .order-3-mobile {
      margin-left: 0;
    }

    .p2-list-sec {
      height: max-content;
      position: relative;
      top: 10rem;
      right: 2%;

      .p2-h1 {
        font-size: 40px;
        font-weight: 400;
        border-bottom: 1px solid #000;
        padding-bottom: 7px;

        .copyRight {
          font-size: 12px;
          position: relative;
          right: 2%;
        }
      }

      .p2-list {
        padding-left: 20px;

        .p2-item {
          font-size: 18px;
        }
      }
    }
    .screw-list-sec {
      height: max-content;
      position: relative;
      top: 8rem;
      right: 0%;

      .screw-h1 {
        font-size: 40px;
        font-weight: 400;
        border-bottom: 1px solid #000;
        padding-bottom: 7px;
        width: 74%;
      }
      .screw-list {
        padding-left: 20px;

        .screw-item {
          font-size: 18px;
        }
      }
    }
    .p2-vs-screw-col {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;

      .p2-vs-screw-h2 {
        font-size: 2.5rem;
        font-weight: 500;
      }
    }
  }
  .pic-n-vid-cont {
    max-width: 1920px;
    padding-left: auto;
    padding-right: auto;
    margin-top: 8rem !important;

    .p2-3-col {
      position: relative;
      left: 5.5%;
      .p3-3 {
        max-width: 858px;
      }
    }
    .p2-6-col {
      position: relative;
      right: 6.6%;
      top: 9rem;
      height: fit-content;
      .p2-6 {
        max-width: 498px;
      }
    }
    .p2-7-col {
      height: fit-content;
      position: relative;
      top: 5rem;
      left: 2%;
      .p2-7 {
        max-width: 474px;
      }
    }
    .p2-13-col {
      height: fit-content;
      position: relative;
      left: 1%;
      top: 5rem;
      .p2-13 {
        max-width: 269px;
      }
    }
    .videoBox-col {
      position: relative;
      bottom: 0;
      z-index: 111;

      .videoBox {
        width: 917px;
        height: 567px;

        .p2-video {
          position: relative;
          top: 0;
          height: 582px;
          width: 1018px;
        }
      }
    }
  }
  .fd-bg-firstPage {
    background-image: url(../src/assests/fd-first-page-bg.jpg) !important;
    height: 1080px !important;

    .fd-box {
      height: max-content;
      position: relative;
      left: 20%;
      top: 8rem;

      .fd-h1 {
        font-size: 3rem;
        font-weight: 400;
      }
      .fd-content {
        width: 70%;
        font-size: 18px;
        line-height: 24px;
      }
    }
    .fd-pic-box {
      height: max-content;
      position: relative;
      right: 3%;
      top: 5rem;
    }
  }
  .fd-bg-secondPage {
    background-image: url(../src/assests/fd-second-page-bg.jpg) !important;
    height: 1080px !important;

    .fd-secondBox {
      height: max-content;
      position: relative;
      left: 25%;

      .fd-h2 {
        font-size: 2rem;
        font-weight: 400;
      }
      .fd-list-box {
        padding-left: 20px;
        font-size: 18px;
      }
    }

    .fd-second-pic-box {
      height: max-content;
      position: relative;
      top: 7rem;
    }
  }
  .fd-bg-thirdPage {
    .fd-video-col {
      position: relative;
      bottom: 13rem;
      left: 20%;
      z-index: 111;
    }
    .fd-first-col {
      position: relative;
      right: 3%;
      bottom: 5rem;
      height: max-content;
    }
    .fd-second-col {
      position: relative;
      bottom: 4rem;
      right: 4%;
      height: max-content;
    }
    .fd-third-col {
      height: max-content;
      position: relative;
      bottom: 7rem;
    }
  }
  .call-us-btn {
    padding: 0px 5px 0px 25px;
  }
  .w-1920-with-mx-auto {
    max-width: 1920px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .justify-content-right-md {
    justify-content: right !important;
  }
  .p2-vs-belt {
    flex-direction: row;

    .order-1-mobile {
      order: inherit;
    }
    .order-2-mobile {
      order: inherit;
    }
    .order-3-mobile {
      order: inherit;
    }
    .order-4-mobile {
      order: inherit;
    }
  }
  .p2-flex-container {
    background-color: #efefef;

    .flex-h1 {
      font-size: 3rem;
      font-weight: 500;
    }
    .flex-content-sec {
      height: max-content;
      position: relative;
      left: 7%;
      top: 5.8rem;
      z-index: 111;

      .flex-content-box {
        padding: 3rem;
        background-color: #fff;

        .flex-content-h1 {
          font-size: 3rem;
          font-weight: 500;
        }
        .flex-content-p {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    .flex-1-img-sec {
      position: relative;
      right: 2%;
    }
    .flex-pros-sec {
      margin-top: 6rem;

      .flex-list {
        position: relative;
        left: 18%;
        top: 8rem;
        list-style: none;

        .flex-item {
          font-size: 18px;
          border-bottom: 1.6px solid #000;
          padding: 0px 10px 13px 0px;
          margin-bottom: 2rem;
        }
      }
    }
  }
  .CO-made-main-container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    max-height: 1425px;

    .CO-made-content-box {
      position: relative;
      width: 20%;
      height: 307px;
      padding: 4rem;
      background-color: #fff;
      top: 25rem;
      left: 37%;
      z-index: 111;
      .CO-made-h3 {
        font-size: 2rem;
        font-weight: 500;
      }
      .CO-made-content {
        font-size: 18px;
        line-height: 24px;
      }
    }
    .CO-made-second-container {
      position: relative;
      bottom: 24rem;
      height: min-content;
    }
  }
  .quote-container {
    justify-content: center;
    .contact-list {
      .contact-item {
        .phone-number::before {
          content: url('../src/assests/phone-icon.jpg');
          vertical-align: -100%;
          position: relative;
          right: 2rem;
        }
        .phone-number {
          font-size: 2rem;
          font-weight: 500;
          text-decoration: none;
          color: #000;
        }
        .email::before {
          content: url('../src/assests/email-icon.jpg');
          vertical-align: -100%;
          position: relative;
          right: 2rem;
        }
        .email {
          font-size: 2rem;
          font-weight: 500;
          text-decoration: none;
          color: #000;
        }
        .location::before {
          content: url('../src/assests/address-icon.jpg');
          vertical-align: -100%;
          position: relative;
          right: 2rem;
        }
        .location {
          font-size: 2rem;
          font-weight: 500;
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  .bg-white-xs {
    .secondContentBox {
      padding: 30px;
      background-color: #fff!important;
    }
  }
  .form-container {
    justify-content: center;

    .form-col {
      margin: 2rem 0rem 4rem 0rem;
      .form {
        text-align: center;

        .form-input {
          width: 60%;
          font-size: 2rem;
          font-weight: 300;
          color: #5c5959;
          padding: 15px 30px 15px 20px;
          margin: 1rem;
          border: 0;
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.11);


          &.message::-moz-placeholder {
              line-height: 5.3rem;
            }
        }
        .btn {
          width: 65%;
          background-color: #689adb;
          color: #fff;
          font-size: 2rem;
          padding: 10px 0px;
          margin: 3rem 0rem;
          border: 0;
          box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.11);
          font-weight: 400;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .video-title {
    .title {
      font-size: 5rem;
      font-weight: 600;
    }
  }
}
.footer {
  background-color: #183a37;
  width: 100%;
  display: inline-block !important;
}
.imgBox,
.videoBox {
  width: max-content;
}
.list-style-none {
  list-style: none;
}
.silveresh-bg {
  background-color: #edededde;
}
.line-height {
  line-height: 24px;
}
.bg-white {
  background-color: #fff;
}
.CO-made-btn {
  background-color: #183a37;
  border: none;
  padding-left: 0;
}
.w-75 {
  width: 75%;
}
.z-index-1111 {
  z-index: 1111;
}
.h-100 {
  height: 100%;
}
.text-dark {
  color: #000;
}
.line-height-24{
  line-height: 24px!important;
} 